<ion-view view-title="Home">
	<ion-modal-view ng-controller="HomeCtrl">
		<div class="soundcloudFavorites" ng-repeat="favorite in favorites">
		    <div class="card">
		        <div class="item item-thumbnail-left">
			        <img src="{{ favorite.artwork_url}}">
		            <h2>{{ favorite.title }}</h2>
		            <p>{{ favorite.description }}</p>
		        </div>
	        </div>
	    </div>

		<audio controls="" autoplay="true" name="media">
			<source src="https://api.soundcloud.com/tracks/248605145/stream" type="audio/mpeg">
		</audio>
	</ion-modal-view>
</ion-view>
