html, body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

audio
{
	width: 100%;
	position: fixed;
	bottom: 0;
	overflow: hidden;
}

.card {
	cursor: pointer;
}

span.soundcloud, span.youtube {
	font-size: 12px;
	font-family: Arial;
    float: left;
    color: #F50;
    margin-top: 10px;
}

span.youtube {
	color: #cc181e;
	display: block;
	margin-top: 30px;
}

img.youtube {
	float: left;
	position: relative;
	display: block;
}

span.overviewPlaylist {
    font: 18px Arial;
    float: left;
    position: relative;
    width: 100%;
    display: block;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}